.anchor
.DS_Store
target
**/*.rs.bk
node_modules
test-ledger
.yarn
.surfpool

# TS clients
clients/ts/**/dist
clients/ts/**/node_modules
*.tsbuildinfo
app/node_modules
app/dist
app/e2e/shots
app/e2e/shots-dispute
app/e2e/shots-checkout
clients/ts/packages/sdk/docs
